<div id="page-wrapper">
  <div id="page">
    <div class="section layout-container clearfix">
      {{ page.header }}
      {{ page.navigation }}
    </div>

    <div class="content">
      <div class="container">
          {{ page.content }}
      </div>
    </div>

  </div>
</div>
